/* Base Styles */
@import 'fonts';
@import 'variables';
@import 'base';

/* Component Specific Styles */
@import 'components/announcement';

/* Page Specific Styles */
@import 'templates/home';

/* Overrides */
.dn {
  display: none;
}

@media #{$breakpoint-medium} {
  .db-m {
    display: block;
  }
}

@media #{$breakpoint-large} {
  .db-l {
    display: block;
  }
}

@media #{$breakpoint-max-large} {
  .dn-ml {
    display: none;
  }
}

/* Base Overrides */
html {
  
}